<html>
    <head>

    </head>
    <body>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/xm3YgoEiEDc?si=pN5D-2VMvC3GNlrY" frameborder="0" allowfullscreen autoplay></iframe>
    </body>
</html>








@*

<h4>Example heading <span class="badge bg-secondary">New</span></h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/xm3YgoEiEDc?si=pN5D-2VMvC3GNlrY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


*@

<div class="d-flex" style="height: 300px;">
    <div class="vr"></div>
</div>
@*

*@






@*

*@


<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">RICKROLLED</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">RICKROLLED</h6>
                    <p class="card-text">RICKROLLED.</p>
                    <a href="#" class="card-link">RICKROLLED</a>
                    <a href="#" class="card-link">RICKROLLED</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">RICKROLLED</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">RICKROLLED</h6>
                    <p class="card-text">RICKROLLED</p>
                    <a href="#" class="card-link">RICKROLLED</a>
                    <a href="#" class="card-link">RICKROLLED</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">RICKROLLED</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">RICKROLLED</h6>
                    <p class="card-text">RICKROLLED</p>
                    <a href="#" class="card-link">RICKROLLED</a>
                    <a href="#" class="card-link">RICKROLLED</a>
                </div>
            </div>
        </div>
    </div>
</div>

@*

*@

